/* --- Header Component --- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 50px;
  border-bottom: 1px solid #ddd;
}
header a {
  font-size: 20px;
  text-decoration: none;
  color: initial;
}
header a:not(:last-child) {
  margin-right: 30px;
}
header #logo {
  font-size: 35px;
  font-weight: 700;
}